@import url("./Fonts/Gotham/Font.css");
@import url("./Fonts/Neuwelt/Font.css");
@import url("./Fonts/SegoeUI/Font.css");
@import url("./Fonts/GG_Sans/Font.css");
@import url("./Fonts/GG_Studio/Font.css");
@import url("./Fonts/Maax/Font.css");

@import url("./a.css");
@import url("./p.css");
@import url("./buttons.css");
@import url("./headers.css");
@import url("./icons.css");
@import url("./text.css");
@import url('./toastify.css');

body {
  margin: 0;
  font-family: 'SegoeUI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  padding: 8px
}

pre>code {
  padding: none;
  background-color: none;
  border-radius: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 0.2rem;
  background-color: #f2f2f2;
  border-radius: 0.2rem;
}

pre {
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 0.2rem;
}

.no-underline {
  text-decoration: none;
}

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(5px);
  --gradient-color-1: #5865f2;
  --gradient-color-2: #515de0;
  --gradient-color-3: #4b59eb;
  --gradient-color-4: #5d68e0;
}