button {
	cursor: pointer;
	font-family: 'SegoeUI';
	line-height: 1.5;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	color: #5865f2;
	font-size: 1rem;
	font-weight: 510;
	background-color: #ffffff;
	border: none;
	border-color: #5865f2;
	border-style: solid;
	border-width: 2px;
	border-radius: 9999px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
	outline: none;
}

button:hover {
	background-color: #5865f2;
	color: #ffffff;
	border-color: #ffffff
}

.white-button {
	color: #5865f2;
	background-color: #ffffff;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	outline: none;
}

.white-button:hover {
	background-color: #5865f2;
	color: #ffffff;
}

.blurple-button {
	color: #ffffff;
	background-color: #5865f2;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	outline: none;
}

.blurple-button:hover {
	background-color: #ffffff;
	color: #5865f2;
}

.inverted-button {
	color: #ffffff;
	background-color: #5865f2;
	border-color: #ffffff;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
}

.inverted-button:hover {
	background-color: #ffffff;
	color: #5865f2;
	border-color: #5865f2
}

.white-button-border {
	border-color: #ffffff;
}

.blurple-button-border {
	border-color: #5865f2;
}