p {
    font-family: "GG Sans";
    font-size: clamp(100%, 120%, 150%);
}

i {
    font-family: "GG Sans";
    font-size: clamp(100%, 120%, 150%);
}

li {
    font-family: "GG Sans";
    font-size: 1.1em;
}